*{
  margin: 0;
  padding: 0;
}
.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: dimgray;
  height: 50px;
}
.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin-right: 33%;
}
.nav-link{
  text-decoration: none;
  color: white;
  font-size: large;
}
.back{
  text-decoration: none;
  color: white;
  font-size: x-large;
  width: 50%;
  margin-left: 50px;
}
.h{ 
  height: 645px;
  display: flex;
  justify-content: center;
  align-items: center;
}

